.mobile__header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--dark-blue);
    background-color: var(--bg-nav);
    backdrop-filter: blur(7px);
}
@media (min-width: 850px) {
    .mobile__header {
        display: none;
    }
}


.mobile-menu__toggle {
    height: 100%;
    padding-right: 30px;
    padding-left: 30px;
    cursor: pointer;
    text-align: left;
    border: none;
    background-color: transparent;
}

.mobile-menu__toggle__burger {
    width: 30px;
    height: 6px;
    background: var(--dark-blue);
    border-radius: 5px;
    transition-duration: .2s;
    transition-property: background;
}

.mobile-menu__toggle__burger::before,
.mobile-menu__toggle__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 6px;
    background: var(--dark-blue);
    border-radius: 5px;
    transform: none;
    transition-duration: .2s;
    transition-property: background, transform;
}

.mobile-menu__toggle__burger::before {
    transform: translate(0px, -10px);
}
.mobile-menu__toggle__burger::after {
    transform: translate(0px, 10px);
}

.mobile-menu__toggle.open .mobile-menu__toggle__burger {
    background: transparent;
}

.mobile-menu__toggle.open .mobile-menu__toggle__burger::before {
    transform: rotate(45deg);
}

.mobile-menu__toggle.open .mobile-menu__toggle__burger::after {
    transform: rotate(-45deg);
}


.mobile-nav {
    position: fixed;
    z-index: 90;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 0;
    top: 60px;
    left: 0;
    background-color: var(--bg-nav);
    backdrop-filter: blur(7px);
    transition-duration: .5s;
    transition-property: height;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    white-space: nowrap;
    padding-right: 30px;
    padding-left: 30px;
}

.mobile-nav.shown {
    height: calc(100vh - 60px);
}

.mobile-menu__block__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-menu__block__row {
    display: flex;
    gap: 20px;
}

.mobile-menu__link {
    color: var(--dark-blue);
    text-decoration: none;
    font-size: large;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--dark-blue);
    transition: .2s;
}

.mobile-menu__link:hover {
    color: var(--link-secondary__hover);
    border-bottom: 1px solid var(--link-secondary__hover);
}

.mobile-menu__link.active {
    color: var(--link-main);
    border-bottom: 1px solid var(--link-main);
}

.mobile-menu__tg {
    background: var(--icon__tg);
}
.mobile-menu__mail {
    background: var(--icon__mail);
}
.mobile-menu__tg, .mobile-menu__mail {
    width: 2em;
    height: 2em;
    border-radius: 5px;
    background-size: contain;
}
