body{
    font-family: var(--font__main);
    font-size: large;
    color: var(--font-color);
    padding: 0;
    margin: 0;
    padding-top: 80px;
    min-height: calc(100vh - 80px);
    background-color: var(--bg-page);
    transition:
        background-color .1s ease-in-out,
        color .4s ease-in-out;
}
body::-webkit-scrollbar {
    width: .5em;
}
body::-webkit-scrollbar-track {
    background: var(--bg-card);
}
body::-webkit-scrollbar-thumb {
    background: transparent;
    background-color: var(--dark-blue);
    border-radius: .1em;
}
body::-webkit-scrollbar-thumb:hover {
    background: transparent;
    background-color: var(--link-main);
    border-radius: .1em;
}

@media (max-width: 540px) {
    body {
        padding-top: 0;
        padding-bottom: 60px;
    }
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: #00000000;
}

.nowrap{
    white-space: nowrap;
}
.highlight {
    font-family: var(--font__header);
}

h1, h2, h3{
    font-family: var(--font__header);
    font-weight: normal;
    margin-top: 0;
}
h1:last-child, p:last-child, .pdf:last-child{
    margin-bottom: 0;
}
p{
    text-align: justify;
    margin-top: 0;
    line-height: 1.5em;
}
blockquote {
    margin: 0;
    margin-top: 2em;
    margin-bottom: .7em;
    margin-left: 4em;
    text-align: right;
    font-style: italic;
}
figcaption {
    text-align: right;
}
ul {
    list-style: inside;
    padding-left: 1em;
    margin-block-start: .5em;
}
::marker {
    color: var(--link-main);
}

.two-column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch;
}
@media (max-width: 850px) {
    .two-column{
        flex-direction: column;
    }
    .two-column__reverse{
        flex-direction: column-reverse;
    }
}
.column{
    flex: 1;
    box-sizing: border-box;
}
.screen{
    margin: auto;
    width: 1080px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.screen:first-child{
    margin-top: 20px;
}
@media (max-width: 1080px){
    .screen{
        width: 100%;
    }
}

.icon {
    width: 100%;
    height: 100%;
    transition-duration: .2s;
    transition-property: color;
}