section {
    max-width: 1200px;
    margin: auto;
    z-index: 1;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.col-1 {
    grid-column: span 1 / auto;
}
.col-2 {
    grid-column: span 2 / auto;
}
.col-3 {
    grid-column: span 3 / auto;
}
.col-4 {
    grid-column: span 4 / auto;
}
.row-2 {
    grid-row: span 2 / auto;
}
.row-3 {
    grid-row: span 3 / auto;
}
.row-4 {
    grid-row: span 4 / auto;
}
.row-24 {
    grid-row: span 2 / auto;
}
@media (max-width: 850px) {
    .col-1 {
        grid-column: span 2 / auto;
    }
    .col-2 {
        grid-column: span 2 / auto;
    }
    .col-3 {
        grid-column: span 2 / auto;
    }
    .row-2 {
        grid-row: span 3 / auto;
    }
    .row-24 {
        grid-row: span 4 / auto;
    }
}
@media (max-width: 540px) {
    .col-1 {
        grid-column: span 4 / auto;
    }
    .col-2 {
        grid-column: span 4 / auto;
    }
    .col-3 {
        grid-column: span 4 / auto;
    }
}

.imgWrapper {
    height: 100%;
}
.imgWrapper img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
@media (max-width: 540px) {
    .imgWrapper img {
        border-radius: 0;
    }
}

.card {
    padding: 20px 25px;
    background-color: var(--bg-card);
    border-radius: 15px;
}
@media (max-width: 540px) {
    .card {
        border-radius: 0;
        border-left: none;
        border-right: none;
        padding: 13px 18px;
    }
}

.linkWrapper{
    border-radius: 15px;
    text-align: center;
    padding: 40px 25px;
    text-decoration: none;
    color: var(--link-main);
    background: linear-gradient(56deg, var(--bg-nav) 0%, var(--bg-card) 100%);
    position: relative;
    transition: color .5s ease-in-out;
}
.linkWrapper::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    clip-path: circle(200px at -200px 50%);
    border-radius: 15px;
    background: linear-gradient(56deg, var(--link-main__hover) 0%, var(--link-main) 100%);
    transition-duration: .4s;
}
.linkWrapper:hover {
    color: var(--font-color);
}
.linkWrapper:hover:before {
    transition-duration: 1s;
    clip-path: circle(100%);
}
@media (max-width: 540px) {
    .linkWrapper, .linkWrapper::before {
        border-radius: 0;
    }
    .linkWrapper {
        color: var(--font-color);
    }
    .linkWrapper::before {
        clip-path: circle(100%);
    }
}