footer{
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
    max-width: 1200px;
    margin: auto;
    position: relative;
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
    font-size: medium;
}
footer p {
    text-align: left;
}
.footer-block {
    padding-right: 25px;
    padding-left: 25px;
}
@media (max-width: 850px){
    footer{
        flex-direction: column;
    }
    .footer-block {
        padding-right: 18px;
        padding-left: 18px;
    }
    .footer-block:first-child {
        margin-bottom: 1em;
    }
}
@media (max-width: 540px){
}
.footer-links{
    text-align: right;
}
.footer__link{
    color: var(--link-main);
    text-decoration: none;
    display: inline-flex;
    gap: 7px;
    align-items: center;
}
.footer__link:hover{
    color: var(--link-main__hover);
}
.footer__link .icon {
    width: 1.4em;
    height: 1.4em;
}