footer{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
    max-width: 1200px;
    margin: auto;
    position: relative;
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
}
footer p {
    text-align: left;
}
.footer-block {
    padding-right: 20px;
    padding-left: 20px;
}
@media (max-width: 850px){
    footer{
        flex-direction: column;
    }
    .footer-block {
        margin-bottom: 1em;
    }
}
.footer-links{
    text-align: right;
}
.contact{
    color: var(--font-color);
    text-decoration: none;
}
.contact:hover{
    color: var(--link-main);
}

.tg::before {
    content: "";
    display: block;
    border-radius: 3px;
    background: var(--icon__tg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    float: left;
    margin: 2px 6px 0 0;
}
.mail::before {
    content: "";
    display: block;
    border-radius: 3px;
    background: var(--icon__mail) no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    float: left;
    margin: 2px 6px 0 0;
}