.pdf{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

/* .pdf-download{
    margin-right: .5em;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    min-width: 2.5em;
    background-image: url('../../../public/ico/down-arrow.png');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s ease-in-out;
    border: 2px solid transparent;
    box-sizing: border-box;
}
.pdf-download:hover{
    border-color: var(--dark-blue);
} */


.pdf-download {
    margin-right: .6em;
    border-radius: 50%;
    width: 2.3em;
    height: 2.3em;
    min-width: 2.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
}
.pdf-download__icon {
    width: 100%;
    height: 100%;
    color: var(--link-main);
    transition-duration: .2s;
    transition-property: color;
}
.pdf-download:hover .pdf-download__icon {
    color: var(--link-main__hover);
}

.pdf-info span:nth-child(1){
    color: var(--link-main);
    line-height: 1.5em;
    display: block;
}
.pdf-info span:last-child{
    font-size: large;
    color: var(--dark-blue);
    line-height: 1.5em;
    display: block;
    margin-bottom: 18px;
}

.pdf-info:last-child span:last-child {
    margin-bottom: 0;
}