.theme-toggle {
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transform: none;
    transition-duration: .2s;
    transition-property: transform;
    padding: 0;
}
.theme-toggle:hover {
    transform: translateY(-2px);
}
.theme-toggle__icon {
    color: var(--link-main);
    width: 100%;
    height: 100%;
    transition-duration: .2s;
    transition-property: color;
}
.theme-toggle:hover .theme-toggle__icon{
    color: var(--link-main__hover);
}
/* .theme-toggle.light {
    background-image: url('../../../public/ico/moon.png');
}
.theme-toggle.dark {
    background-image: url('../../../public/ico/sun.png');
} */

@media (max-width: 850px) {
    .theme-toggle {
        width: 34px;
        margin-right: 28px;
        margin-left: 28px;
        padding: 0;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .theme-toggle:hover {
        transform: none;
    }
}