.error {
    grid-column: span 4 / auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.error-img-wrapper {
    width: 100%;
    max-width: 400px;
}

.error-img-wrapper img {
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

.error-img-wrapper img:hover {
    animation-duration: 3s;
    animation-name: maprotate;
}

.error h1 {
    text-align: center;
    color: var(--dark-blue);
    font-size: 1.75em;
}

@keyframes maprotate {
    from{
        transform: rotate(0deg) scale(1);
    }
    75% {
        transform: rotate(-19deg) scale(.9);
    }
    to {
        transform: rotate(0deg) scale(1);
    }
}